h2{color: orange;

margin-left: 150px    ;
text-shadow: 30px;}
p{background-color: aquamarine;
border: 10px solid orangered;
box-shadow: 5px 5px 5px lightcoral;

height: 200px;
width: 400px;
margin-left:  20px;
text-align: center;
padding-top: 80px;
padding-left: 10px;
padding-right: 10px;
border-radius: 0px 20px;

}
#id2{
    background-color: lightpink;
    /* border-left: 400px solid white; */
    
}
#div2{
    /* border-left: 450px; */
    margin-left: 500px;
    margin-top: 0px;
}
header{
    margin-left: 700px;
    height: 200px;
}